* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg,
            rgba(65, 184, 131, 1) 0%,
            rgba(0, 212, 255, 1) 100%);
}

.container-card {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
}

.front-card {
    position: relative;
    background-color: #fefefe;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2), 30px 0 50px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
}

.happy {
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    transition: 0.1s;
}

.container-card-ballons {
    position: absolute;
}

.ballon-one, .ballon-two, .ballon-three, .ballon-four {
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
}

.ballon-one {
    background-color: rgb(239, 71, 111, 0.7);
    left: -10px;
    top: 50px;
}

.ballon-two {
    background-color: rgb(6, 214, 160, 0.7);
    left: 50px;
    top: 50px;
}

.ballon-three {
    background-color: rgba(255, 209, 102, 0.7);
    left: 110px;
    top: 50px;
}

.ballon-four {
    background-color: rgb(17, 138, 178, 0.7);
    left: 170px;
    top: 20px;
}

.ballon-one:before, .ballon-two:before, .ballon-three:before, .ballon-four:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #ffd166;
    top: 95px;
    left: 43px;
}

.ballon-one:after, .ballon-two:after, .ballon-three:after, .ballon-four:after {
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
}

.ballon-one:after {
    border-bottom: 10px solid #ef476f;
}

.ballon-two:after {
    border-bottom: 10px solid #06d6a0;
}

.ballon-three:after {
    border-bottom: 10px solid #ffd166;
}

.ballon-four:after {
    border-bottom: 10px solid #118ab2;
}

.inside-card {
    position: absolute;
    background-color: #fefefe;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
    margin: 40px;
    color: #333;
}

.name {
    position: absolute;
    left: 150px;
    top: 240px;
    color: #333;
}

.happy-back {
    color: #333;
    text-align: center;
    margin: 30px;
    outline-color: #333;
    outline-style: dotted;
}

.container-card:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2), 0 10px 100px rgba(0, 0, 0, 0.5);
}

.container-card:hover .front-card {
    transform: rotateY(-160deg);
}

.container-card:hover .happy {
    visibility: hidden;
}